<% title "home" %>

<h3>Welcome to Drive 4 Independence!</h3>

<p>The purpose of this web site is to provide a means for blind and "transportation-impaired" individuals to connect with volunteer drivers who would be willing to help them become more independent by providing rides at fuel cost.</p>
